<app-login [login]="client" (output)="onLogin($event)"></app-login>
<app-icon-bar [iconBar]="iconBar" (output)="onIconClicked($event)"></app-icon-bar>
<p class="text-center">By continuing, you agree to obey <a class="text-decoration-none h6 text-dark" href="">Terms of Service</a> and ackowledge that <br> you've read our <a class="text-decoration-none h6 text-dark" href="">Privacy Policy</a></p>
<div class="text-center m-2 h6" >
  <a href="register" class="text-decoration-none text-dark">New user</a>
</div>
<div class="text-center m-2 h6">
  <a href="" class="text-decoration-none text-dark">Forget your password</a>
</div>
<p class="text-muted text-center">&copy;2022 AlloyMobile Incorporation</p>
